[user]
  name = Anil Oli
  signingkey = ~/.ssh/id_ed25519.pub
  email = 44222164+aniloli42@users.noreply.github.com

[includeIf "hasconfig:remote.*.url:git@bitbucket.org:*/**"]
  path = ~/.gitconfig-bitbucket

[init]
  defaultBranch = main

[merge]
  ff=false

[gpg]
  format = ssh

[gpg "ssh"]
  allowedSignersFile = ~/.ssh/allowed_signers
  program = ssh-keygen

[commit]
  gpgsign = true

[maintenance]
  repo = ~/dotfiles

